<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Landing</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/style.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/landing.ico')}}" />
    <script src="{{url_for('static', filename='assets/style.js')}}"></script>
  </head>
  <body>
    <div style="margin-top: 50px" class="ui container">
      <h1 class="ui center aligned huge header">{{ headline }}</h1>

      <div class="ui container center aligned">
        <div class="ui horizontal list">
          <a class="item" style="font-weight: bold; font-size: 18px" href="{{ url_for('landing.home') }}">Home</a>
          <a class="item" style="font-weight: bold; font-size: 18px" href="{{ url_for('todo.list_tasks') }}">Todo</a>
          <a class="item" style="font-weight: bold; font-size: 18px" href="{{ url_for('quotes.list_quotes') }}">Quotes</a>
          <a class="item" style="font-weight: bold; font-size: 18px" href="{{ url_for('taskflow.tasks') }}">Taskflow</a>
          <a class="item" style="font-weight: bold; font-size: 18px" href="{{ url_for('landing.about') }}">About</a>
        </div>
      </div>
      <div class="ui container right aligned">
        <div class="ui horizontal list">
          {% if g.user %}
          <div class="item">
            <span class="ui gray label">{{ g.user['username'] }}</span>
          </div>
          <a class="item" href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
          <a class="item" href="{{ url_for('auth.register') }}">Register</a>
          <a class="item" href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
        </div>
      </div>

      <section>
        <main>
          {% for message in get_flashed_messages() %}
          <div style="margin-top: 20px" class="ui center aligned container">
            <p style="font-style: italic; font-weight: lighter; color: red" class="flash">{{ message }}</p>
          </div>
          {% endfor %}

          <br />

          {% block content %}
          <p>No messages.</p>
          {% endblock content %}
        </main>
      </section>
    </div>
  </body>
</html>
