{% extends 'base.html' %}

<br />
{% block content %}
<center>
  <div class="ui horizontal segments" style="max-width: 900px">
    <div class="ui segment">
      <div class="ui two row centered grid">
        <div class="row">
          <span class="ui big green label">Application Icon</span>
        </div>
        <div class="row">
          <span class="ui big yellow label">Name</span>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui two row centered grid">
        <div class="row">
          <span class="ui big green label">Application Icon</span>
        </div>
        <div class="row">
          <span class="ui big yellow label">Name</span>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui two row centered grid">
        <div class="row">
          <span class="ui big green label">Application Icon</span>
        </div>
        <div class="row">
          <span class="ui big yellow label">Name</span>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui two row centered grid">
        <div class="row">
          <span class="ui big green label">Application Icon</span>
        </div>
        <div class="row">
          <span class="ui big yellow label">Name</span>
        </div>
      </div>
    </div>
  </div>
</center>
{% endblock content %}
